/*implemented into html file by Gabriel Garcia*/
/* Set the background images of the body element */
body {
    background-image: url('R_Back.png'), url('G_Back.png');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 50vw 100vh, 50vw 100vh;
}

.red_team_text {
    font-family:'Courier New'; 
    color: red; 
    font-size: x-large; 
    align-self: flex-start;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.green_team_text {
    font-family:'Courier New'; 
    color: lightgreen; 
    font-size: x-large;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.flex-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left:60px;
}

.flex-child {
flex: 1;
margin-right: 50px;
}

.flex-child:first-child {
margin-right: 20px;
}

.R_tableID,
.G_tableID { 
    flex: 1;
    margin-right: 10px;
}

.countdown-section {
    position: absolute;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.Play-by-Play{
    position: fixed;
    text-align: center;
    border: 3px solid white;
    height: 200px;
    width:  300px;
    bottom: 0;
    right: 0;
    background-color: #000;
}
