/*implemented into html file by Gabriel Garcia*/
/* Set the background images of the body element */
body {
    background-image: url('R_Back.png'), url('G_Back.png');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 50vw 100vh, 50vw 100vh;
  }

.form-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.R_tableID,
.G_tableID { 
    flex: 1;
    margin-right: 10px;
}