<!-- lizbet rivera created basic player entry page -->


<!DOCTYPE html>
<html>


<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/GamePlayScreen.css')}}">
<title>Entry Terminal</title>
</head>

<body>
<h2></h2>

<div class="flex-teams">
    <div class="flex-child red-team">
        <p class="red_team_text">RED
            TEAM<br>SCORE:000<br>TEAM MEMBERS:<br>{{player[0]}}</p>
    </div>
    <div class="flex-child green-team">
        <p class="green_team_text">GREEN TEAM<br>SCORE: 000<br>TEAM
            MEMBERS:<br>{{player[1]}}</p>
    </div>
</div>

<div class = "countdown-section">
    <p style="color: white; font-family:'Courier New'">Time Left:</p>
    <p style="color: white; font-family:'Courier New'" id ="countdown"></p>
</div>

<div class="Play-by-Play">
    <p style="color: white; font-family:'Courier New'"><b>PLAY BY PLAY</b></p>
</div>



<script>
    function countdown() {
    const minutes = Math.floor(time / 60);
    let seconds = time % 60;
    seconds = seconds < 10 ? '0' + seconds : seconds;

    if (time == -1) {
        clearTimeout(timerId);
        if(sixTimer == "false"){
            sixMinTimer();
            player_actions();
        }
    } 
    else {
        elem.innerHTML = `${minutes}:${seconds}`;;
        time--;
    }
}

function get_player_who_shot() {
    //const player_ID = "from_python_file";
    //const player_points = player_ID(score) + 1 to keep track of individual score increments
}

function get_player_hit() { 
    //const player_ID = "from_python_file";
    //wait 1000 ms to ensure no double counting points
}

function player_actions() {
    //listen to shot fired from python file
    //assign that shot fired to player get_player_who_shot();
    //assign player that got hit get_player_hit();

    //find out what team player who fired shot was on and increment team score

    

    
    
    
}


function sixMinTimer(){
    sixTimer = "true"
    startingMin = 6;
    time = startingMin * 60;
    timerId = setInterval(countdown, 1000);
}

var elem = document.getElementById('countdown');   
startingMin = 0.5;
time = startingMin * 60;
timerId = setInterval(countdown, 1000);
sixTimer = "false"
</script>


</body>
</html>