<!-- lizbet rivera created basic player entry page -->


<!DOCTYPE html>
<html>


<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/GamePlayScreen.css')}}">
<title>Entry Terminal</title>
</head>

<body>
<h2></h2>
<div class = "form-wrapper">
<p style="font-family:'Courier New'; color: red; font-size: x-large; align-self: flex-start;">RED TEAM</p>
<p style="font-family: 'Courier New'; color:red">{{player1}}</p>
<p style="font-family:'Courier New'; color: lightgreen; font-size: x-large;">GREEN TEAM</p>
<p style="font-family: 'Courier New'; color: lightgreen;">{{player2}}</p>

</div>
</body>
</html>