<!DOCTYPE html>
<html>
  <head>
    <title>Player Entry Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PlayerEntryScreen.css')}}">
  </head>
  <body>
    <h1 style="font-family: 'Courier New'; color:white">Enter Players</h1>
    <form action='LobbyScreenSubmit' method="POST">
      <label for="lobby-id" id = "Lobby_btn" style="color: white; font-weight: bold;">Create Lobby Key:</label>
      <input type="text" id="lobby-id" name="lobby-id"><br><br>
      <div class="container1"> 
      <div class="player1">
        <h3 style="color: red; text-align: center">Player 1</h3>
        <label for="player-1-cn" style="color: red; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-1-cn" name="player-1-cn"><br><br>
      </div>

      <div class="player1">
        <h3 style="color: red; text-align: center">Player 2</h3>
        <label for="player-2-cn" style="color: red; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-2-cn" name="player-2-cn"><br><br>
      </div>

      <div class="player1">
        <h3 style="color: red; text-align: center">Player 3</h3>
        <label for="player-3-cn" style="color: red; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-3-cn" name="player-3-cn"><br><br>
      </div>
    </div>

      <br><br>
    <div class="container2">
      <div class="player2">
        <h3 style="color: green; text-align: center">Player 4</h3>
        <label for="player-4-cn" style="color: green; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-4-cn" name="player-4-cn"><br><br>
      </div>
      
      <div class="player2">
        <h3 style="color: green; text-align: center">Player 5</h3>
        <label for="player-5-cn" style="color: green; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-5-cn" name="player-5-cn"><br><br>
      </div>
      
      <div class="player2">
        <h3 style="color: green; text-align: center">Player 6</h3>
        <label for="player-1-cn" style="color: green; font-weight: bold;">Code Name:</label>
        <input type="text" id="player-6-cn" name="player-6-cn"><br><br>
      </div>
    </div>
      <br><br>

      <input id="enter_players_btn" style="font-family: 'Courier New'; text-align: center;" type="submit" value="Enter All Players">
    </form>
    
    <br><br>
    <form action="{{ url_for('GamePlayScreen')}}" method="POST">
    <label for="lobby-id" id = "start_game_btn" style="color: white; font-weight: bold;">Enter Lobby ID:</label>
    <input type="text" id="lobby-id" name="lobby-id"><br><br>
    <button type="submit" id = "start_game_btn" style="color: white; font-weight: bold;">Start Game</button>
</body>
</html>
<script>
  setTimeout(function() {
    document.querySelector('.splash_screen').style.display = 'none';
  }, 6000); // 6000 milliseconds = 6 seconds
</script>