<!DOCTYPE html>
<html>
  <head>
    <title>Player Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PlayerEntryScreen.css')}}">
  </head>
  <body>
    <div class="splash_screen">
      <h1> </h1>
    </div>
    <h1>Enter Player</h1>
    <form action='PlayerEntryScreen' method="POST">
      <h3>Player 1</h3>
      <label for="player-1-fn">First Name:</label>
      <input type="text" id="player-1-fn" name="player-1-fn">
      <label for="player-1-ln">Last Name:</label>
      <input type="text" id="player-1-ln" name="player-1-ln">
      <label for="player-1-cn">Code Name:</label>
      <input type="text" id="player-1-cn" name="player-1-cn"><br><br>
      <h3>Player 2</h3>
      <label for="player-2-fn">First Name:</label>
      <input type="text" id="player-2-fn" name="player-2-fn">
      <label for="player-2-ln">Last Name:</label>
      <input type="text" id="player-2-ln" name="player-2-ln">
      <label for="player-2-cn">Code Name:</label>
      <input type="text" id="player-2-cn" name="player-2-cn"><br><br>
      <h3>Player 3</h3>
      <label for="player-3-fn">First Name:</label>
      <input type="text" id="player-3-fn" name="player-3-fn">
      <label for="player-3-ln">Last Name:</label>
      <input type="text" id="player-3-ln" name="player-3-ln">
      <label for="player-3-cn">Code Name:</label>
      <input type="text" id="player-3-cn" name="player-3-cn"><br><br>
      <h3>Player 4</h3>
      <label for="player-4-fn">First Name:</label>
      <input type="text" id="player-4-fn" name="player-4-fn">
      <label for="player-4-ln">Last Name:</label>
      <input type="text" id="player-4-ln" name="player-4-ln">
      <label for="player-4-cn">Code Name:</label>
      <input type="text" id="player-4-cn" name="player-4-cn"><br><br>
      <h3>Player 5</h3>
      <label for="player-5-fn">First Name:</label>
      <input type="text" id="player-5-fn" name="player-5-fn">
      <label for="player-5-ln">Last Name:</label>
      <input type="text" id="player-5-ln" name="player-5-ln">
      <label for="player-5-cn">Code Name:</label>
      <input type="text" id="player-5-cn" name="player-5-cn"><br><br>
      <h3>Player 6</h3>
      <label for="player-6-fn">First Name:</label>
      <input type="text" id="player-6-fn" name="player-6-fn">
      <label for="player-1-ln">Last Name:</label>
      <input type="text" id="player-6-ln" name="player-6-ln">
      <label for="player-1-cn">Code Name:</label>
      <input type="text" id="player-6-cn" name="player-6-cn"><br><br>
      <input type="submit" value="Submit">
    </form>
    <br><br>
    <form action="{{ url_for('GamePlayScreen')}}" method="POST">
    <label for="lobby-id">Lobby ID:</label>
    <input type="text" id="lobby-id" name="lobby-id"><br><br>
    <button type="submit">Start Game</button>
    </form>
</body>
</html>
<script>
  setTimeout(function() {
    document.querySelector('.splash_screen').style.display = 'none';
  }, 6000); // 6000 milliseconds = 6 seconds
</script>
